asgiref==3.5.0
backports.zoneinfo==0.2.1
breadability==0.1.20
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
Django==4.0.2
djangorestframework==3.13.1
docopt==0.6.2
filelock==3.5.1
gunicorn==20.1.0
idna==3.3
joblib==1.1.0
lexrank==0.1.0
lxml==4.7.1
nltk==3.7
numpy==1.22.2
path==16.3.0
path.py==12.5.0
platformdirs==2.5.0
psycopg2==2.9.3
pycountry==22.1.10
pyrsistent==0.18.1
python-decouple==3.6
pytz==2021.3
regex==2022.1.18
requests==2.27.1
scipy==1.8.0
sqlparse==0.4.2
sumy==0.9.0
tqdm==4.62.3
uritools==4.0.0
urlextract==1.5.0
urllib3==1.26.8
